<footer>
    <p>Copyright &copy; 2024.</p>
    <p>Created by <a  href="/contact" target="_blank" id="username" >WebMinds</a> </p>

    <p>Powered by <span>Express</span> and <span>EJS</span>.</p>
</footer>




</body>
</html>
